/*
* @Author: wqsong2
* @Date: 2023/7/12 18:51
* @Desciption:公共基础样式
*/
@import '@/assets/styles/color';
//浮动
body {
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .fn {
    float: none;
  }
}
//字体大小
body {
  .fz12 {
    font-size: $fontSize12;
  }
  .fz14 {
    font-size: $fontSize14;
  }
  .fz16 {
    font-size: $fontSize16;
  }
  .fz18 {
    font-size: $fontSize18;
  }
  .fz26 {
    font-size: $fontSize26;
  }
}
//字体粗细
body {
  .fb {
    font-weight: bold;
  }
  .fn {
    font-weight: normal;
  }
}
//位置
body {
  .tc {
    text-align: center;
  }
  .tr {
    text-align: right;
  }
  .tl {
    text-align: left;
  }
}
//鼠标移入样式
.cursor-p {
  cursor: pointer;
}
//文字颜色
.color-f {
  color: $color-f;
}
.color-3{
  color: $color3;
}
//margin
body {
  .m0 {
    margin: 0;
  }
  .mtb5 {
    margin: 5px 0px;
  }
  .mrl5 {
    margin: 0px 5px;
  }

  .mr5 {
    margin-right: $Px5;
  }
  .mt5{
    margin-top: $Px5;
  }
  .mb5 {
    margin-bottom: $Px5;
  }
  .ml5 {
    margin-left: $Px5;
  }

  .mr10 {
    margin-right: $Px10;
  }
  .ml10 {
    margin-left: $Px10;
  }
  .mt10 {
    margin-top: $Px10;
  }
  .mb10 {
    margin-bottom: $Px10;
  }

  .mb15 {
    margin-bottom: $Px15;
  }
  .mt15 {
    margin-top: $Px15;
  }
  .ml15 {
    margin-left: $Px15;
  }
  .mr15 {
    margin-right: $Px15;
  }

  .ml20 {
    margin-left: $Px20;
  }
  .mt20 {
    margin-top: $Px20;
  }
  .mb20 {
    margin-bottom: $Px20;
  }
  .mr20 {
    margin-right: $Px20;
  }

  .ml30 {
    margin-left: $Px30;
  }
  .mt30 {
    margin-top: $Px30;
  }
  .mr30 {
    margin-right: $Px30;
  }
}
//padding
body {
  .ptb5 {
    margin: 5px 0px;
  }
  .prl5 {
    margin: 0px 5px;
  }

  .pl5 {
    padding-left: $Px5;
  }

  .pl10 {
    padding-left: $Px10;
  }
  .pr10 {
    padding-right: $Px10;
  }

  .pl15 {
    padding-left: $Px15;
  }
  .pr15 {
    padding-right: $Px15;
  }

  .pl20 {
    padding-left: $Px20;
  }

  .pl30 {
    padding-left: $Px30;
  }
}
//溢出隐藏1
.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//display:flex  flex布局的相关样式
.flex {
  display: flex;
}
.fwrap {
  flex-wrap: wrap;
}
.flex-h-1 {
  height: 0;
}
//背景颜色
.bf {
  background-color: $basBackgroundColorF;
}
.color-1F75FF{
  color: #1F75FF;
}