/*
* @Author: wqsong2
* @Date: 2023/7/12 18:53
* @Desciption:自定义公共样式颜色
*/
//字体类型
$fontSize12: 12px; //12号字体
$fontSize14: 14px; //14号字体
$fontSize16: 16px; //16号字体
$fontSize18: 18px; //18号字体
$fontSize26: 26px; //26号字体
//颜色
$lightGray: #eee;
$color-f: #fff;
// px
$Px5: 5px;
$Px10: 10px;
$Px15: 15px;
$Px20: 20px;
$Px25: 25px;
$Px30: 30px;
// 背景色
$basBackgroundColorF: #fff;
$color3: #333;
